

<nav class="navbar navbar-fixed-top">
	
	<div class="content-padding-nav">

		<ul class="nav navbar-nav navbar-right">

			<li><a href="/">Home</a></li>

			<li class="dropdown">
				
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" id="btn-movies">

					Movies

				</a>

				<ul class="dropdown-menu" id="dropdown-menu">

					<% for (var i = 0; i < movies.length; i++) { %>

						<li><a href="/star_wars_episode/<%=movies[i].episode_number%>" class="episode-link"><%=movies[i].title%></a></li>

					<% }; %>
					
				</ul>

			</li>

		</ul>

	</div>


</nav>