
<!-- Head contents -->


<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<meta name="author" author="kevin van oevelen"/>


<link rel="icon" href="favicon.ico" type="image/x-icon"/>



<!--   __________  TITLE  __________ -->

		<title><%= title %></title>

<!--   __________  TITLE  __________ -->



<!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<script src="https://use.fontawesome.com/4107ba5ff5.js"></script>

<!-- Main css -->
<link rel="stylesheet" href="/css/main_style.css" type="text/css"/>
